.room-container
  width 100%
  height 100%
  background-color #ffffff
  position relative
  .title-text
    width 100%
    font-size 16px
    font-weight bold
    text-align center
  .room-wrap
    position relative
    width 100%
    height 100vh
    overflow hidden
    .game-content
      padding 20px
      min-height calc(100% - 120px)
      overflow-y scroll
      // 遮住滚动条
      width calc(100% + 20px)
      .welcome-item
        color #666666
        margin-top 10px
        margin-left 100px
        margin-bottom 10px
      .welcome-content
        width 100%
        .create-user-btn
          width 100%
      .normal-title
        height 24px
        line-height 24px
        font-size 14px
        font-weight 500
      .bc-title
        width 100%
        text-align center
        font-weight bold
        font-size 18px
      .wait-content
        background-color #eeeeee
        overflow hidden
        max-height 180px
        min-height 60px
        position relative
        display flex
        flex-wrap wrap
        padding 10px
        .wait-cell
          background-color #67c23a
          color #ffffff
          text-align center
          height 30px
          line-height 30px
          font-size 14px
          padding-left 20px
          padding-right 20px
          border-radius 3px
      .full-btn
        width 100%
    .game-content
      .normal-title
        font-size 14px
        font-weight 500
      .desk-content
        border-radius 4px
        border 1px solid #eeeeee
        overflow hidden
        position relative
        padding 5px
        flex-wrap wrap
        flex-direction row
        display flex
        .player-cell
          width 33.33% - 2.5px
          height 80px
          .player-seat-cell
            width 130px
            height 80px
            border-radius 4px
            position relative
            overflow hidden
            .txt
              font-size 14px
              color white
            .bolder
              font-weight 500
            .tag-view
              position absolute
              left 0
              right 0
              top 0
              bottom 0
              .tag
                position absolute
                height 20px
                font-size 12px
                color white
                font-weight bold
                padding-left 8px
                padding-right 8px
                border-radius 10px
                text-align center
                line-height 20px
              .camp-good,.camp-wolf
                left 4px
                top 4px
              .role-name
                top 4px
                right 4px
            .dead-view
              position absolute
              left 0
              right 0
              top 0
              bottom 0
              .dead-mask
                position absolute
                left 0
                right 0
                top 0
                bottom 0
                background-color black
                opacity 0.3
              .dead-text
                font-weight bold
                font-size 24px
                text-align center
                color red
                line-height 80px
      .notice-content
        border-radius 4px
        text-align center
        overflow hidden
        min-height 100px
        position relative
        border 1px solid #eeeeee
        display flex
        flex-wrap wrap
        padding 20px
        .txt
          line-height 24px
          color black
          font-weight 500
          width 100%
          font-style oblique
          font-size 16px
      .skill-btn
        width 100%
        height 40px
        font-size 14px
        font-weight bold
        .vote-icon
          width 24px
          height 24px
    .footer
      width 100%
      height 60px
      position position
      bottom 0
      left 0
      .logout-btn
        width 100%
        height 100%
        font-size 16px
    .btn-record
      position fixed
      bottom 80px
      font-size 14px
      font-weight bold
      height 80px
      width 80px
      border-radius 40px
      text-align center
      line-height 80px
      cursor pointer
      left calc(50% + 150px)
    .btn-refresh
      position fixed
      bottom 80px
      font-size 14px
      font-weight bold
      height 80px
      width 80px
      border-radius 40px
      text-align center
      line-height 80px
      cursor pointer
      left 50%
      transform translateX(-50%)
    .btn-next-stage
      position fixed
      bottom 80px
      font-size 14px
      font-weight bold
      height 80px
      width 80px
      border-radius 40px
      text-align center
      line-height 80px
      cursor pointer
      left calc(50% - 230px)
.error-view
  width 100%
  .desc
    font-size 16px
    font-weight 500
    text-align center
.player-click-modal
  .content-wrap
    width 100%
    .content-view
      border-radius 4px
      border 1px solid #eeeeee
      overflow hidden
      height 300px
      position relative
      margin-left 20px
      margin-right 20px
      padding 10px
      flex-wrap wrap
      flex-direction row
      justify-content space-around
      display flex
      .player-cell
        width 120px
        height 70px
        margin 10px
        border-radius 2px
        position relative
        .camp-tag
          height 20px
          position absolute
          border-radius 10px
          right 4px
          top 4px
          padding-left 10px
          padding-right 10px
          line-height 20px
          text-align center
          font-weight 500
          color #ffffff
      .check-item
        background-color #b8f1ed
      .normal-item
        border 1px solid #eeeeee
      .target-item
        background-color pink
      .txt
        font-weight 500
      .check-text
        color #ffffff
      .normal-text
        color black
    .result-view
      .tit
        font-size 14px
        line-height 20px
        font-weight 500
      .content
        width auto
        font-size 14px
    .prompt-view
      font-size 14px
      color orange
      font-style italic
      font-weight 500
.role-card-wrap
  .card-img
    width 100%
    height auto
.ant-modal-confirm-content
  margin-left 0!important

.winner-wrap
  width 100%
  .img-card-wrap
    position relative
    img
      width 80%
      height auto
    .winner-mask
      position absolute
      width 80%
      height 100%
      left 10%
      top 0
      background-color black
      opacity 0.5
    .winner-mask-text-wrap
      position absolute
      width 80%
      height 100%
      left 10%
      top 0
      img
        width 64px
        height 64px
      .txt
        text-align center
        color #ffffff
        font-weight bold
        font-size 20px
        line-height 100%

.winner-title
  font-size 18px
